---
interface Props {
  message: string;
}

const { message } = Astro.props;
---

<div
  class="bg-(--main) py-3 px-4 text-center text-black relative overflow-hidden selection:text-(--main) selection:bg-(--bg)/60"
>
  <div class="max-w-6xl mx-auto relative z-10">
    <p class="text-sm md:text-base font-medium tracking-wide">
      {message}
    </p>
  </div>
</div>
